* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Gilroy", sans-serif;
}

.div round{
    margin: 222px;
    left: 200px;
    cursor: pointer;


}

/* Side bar css start */
.wrapper {
    display: flex;
}


.sidebar {
    width: 300px;
    height: 100vh;
    background: #092A5B;
    transition: all 0.2s ease-in-out;
}

.sidebar-lists {
    padding: 30px 25px;
}

.sidebar-lists_item {
    padding: 15px 0;
}

.sidebar-lists_item a {
    color: white;
    line-height: 22px;
}

.sidebar-lists_item span {
    width: 180px;
}

.sidebar-icon path {
    fill: white;
}

.sidebar-lists_item:hover .sidebar-icon path,
.sidebar-lists_item:hover  a,
.sidebar-lists_item:hover  {
    fill: #00A5FF;
    color: #00A5FF;
}

.sidebar-lists_link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.div h1{
    background: url("https://st.depositphotos.com/1162190/4854/i/600/depositphotos_48548449-stock-photo-eid-mubarak-background.jpg");
}

.logo {
    padding: 30px 25px;
}
.view img p{
    backdrop-filter: blur(288,);
}
.logo-link {
    display: block;
    width: 100%;
}


.logo-img {
    width: 100%;
}

.view {
    width: 100%;
    height: 100vh;
    background: #F1F6FB;
    padding: 20px 30px;
}


#vehicle1:checked ~ * .sidebar {
    width: 0;
    opacity: 0;
}

.label {
    cursor: pointer;
}

/* Side bar css end */


.navbar-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.navbar {
    display: flex;
}

.navbar-item {
    font-size: 18px;
    color: #ccc;
    margin: 0 10px;
    cursor: pointer;
    position: relative;
    padding: 10px 5px;
    border-bottom: 4px solid transparent;
}

.navbar-item:hover {
    color: black;
    font-weight: 500;
}

.navbar-item:hover,
.navbar-item.active {
    border-color: black;
}

.language {
    border: none;
    font-size: 18px;
}

.language:focus-visible {
    outline: unset;
}


/*
.navbar-item:hover::before,
.navbar-item.active::before {
    background: black;
}

.navbar-item::before {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -10px;
    height: 4px;
}
*/

.navbar-item.active {
    font-weight: 500;
    color: #000;
}


.telephone {
    background: green;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
}
.h1 view{
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    margin-top: 40px;
}

.item {
    display: flex;
    align-items: center;
    width: 8.33%;
    height: 400px;
    padding: 30px;
}

/*.item:nth-child(odd) { !* Odd = Toq *!
    background: black;
}*/

/*.item:first-child { !* Odd = Toq *!
    background: black;
}*/

/*.item:last-child {
    background: black;
}*/


/*.item:nth-child(even) { !* even = Juft *!*/
/*    background: red;*/
/*}*/

.item:nth-child(1) {
    background: red;
}

.item:nth-child(2) {
    background: green;
}

.item:nth-child(3) {
    background: yellow;
}

.item:nth-child(4) {
    background: blue;
}

.item:nth-child(5) {
    background: purple;
}

.item:nth-child(6) {
    background: chocolate;
}

.item:nth-child(7) {
    background: red;
}

.item:nth-child(8) {
    background: green;
}

.item:nth-child(9) {
    background: yellow;
}

.item:nth-child(10) {
    background: blue;
}

.item:nth-child(11) {
    background: purple;
}

.item:nth-child(12) {
    background: chocolate;
}

.item_img {
    width: 100%;
    height: 200px;
    text-align: center;
}


.item_img img {
    height: inherit;
}


/* Media style start */
@media (max-width: 1366px) {
    /* Note book */
    .item {
        padding: 20px;
    }
}


@media (max-width: 1024px) {
    /* iPad Pro */
    .item {
        width: 50%;
        padding: 15px;
    }
}

@media (max-width: 768px) {
    /* All Mobile */
    .item {
        flex-wrap: wrap;
        height: auto;
        padding: 10px;
    }
}

@media (max-width: 576px) {
    /* All Mobile */
    .item {
        width: 100%;
        height: auto;
        padding: 10px;
    }
}


/* Media style end */
