* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    /*font-family: sans-serif;*/
}

:root {
    --red: #ef5050;
    --light-black: #1d1d1d;
    --grey: #373737;
    --liht-grey: #f9f9f9;

}

.root-red {
    color: red;
}

.header {
    background: var(--light-black);
}

.header-top {
    padding: 20px 0;
}

.logo {
    display: flex;
    align-items: center;
}


.logo-title {
    text-transform: uppercase;
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

.logo-title:hover {
    color: red;
}

.logo-text {
    color: #fff;
    margin: 0;

}

.class {
    color: red;
}

.work-title {
    color: #ffff;
    text-transform: uppercase;
}

.work-title a :hover {
    color: #ffff;
}

.work-text {
    text-decoration: none;
    color: #727272;
}

.work-text:hover {
    color: blue;
}

.phone {
    display: flex;
}

.phone-icon {
    font-size: 45px;
}

.phone-title {
    font-size: 14px;
    color: #616161;
    margin: 0;
    text-decoration: none;
}

.phone-text {
    font-size: 14px;
    color: #ffff;
    text-decoration: none;
}

.icon {
    color: #ffff;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ffff;
    justify-content: center;
    align-items: center;
}

.icon:hover {
    background: #0c63e4;
}


.logo img {
    animation: rotate_360 2s linear infinite;
}

.navbar-collapse {
    background-color: var(--red);
}

.nav-item:first-child {
    padding-left: 2rem;
}

.nav-link {
    text-transform: uppercase;
    background: var(--red);
    font-weight: bold;
    color: white !important;
    padding: 1.5rem 1.2rem;

}

.custom-menu.nav-item.nav-link:hover {
    color: #0c63e4;
    background: black;
}


.nav-link.active {
    background: #f95b5b;
}

.custom-btn {
    background: #f95b5b;
    color: white;
    padding-right: 25px;
    padding-left: 25px;
    text-transform: uppercase;
    font-weight: 600;
}

.custom-dropdown:hover .custom-menu {
    display: block;
}



@keyframes rotate_360 {
    from {
        transform: rotate(0);
        opacity: 0;
    }
    to {
        transform: rotate(360deg);
        opacity: 1;
    }
}

/*
section {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("https://cdn.motor1.com/images/mgl/jzw4g/s1/2022-bmw-i4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

header {
    width: 100%;
}

nav h1 {
    color: #ffffff;
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    margin: 20px 30px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
}

.header-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}


.header-title h1 {
    font-size: 50px;
    margin-bottom: 10px;
}


.header-title a {
    width: auto;
    height: 45px;
    font-size: 20px;
    color: #fa4569;
    background: transparent;
    border: 1px solid #fa4569;
    border-radius: 20px;
    margin-right: 20px;
    padding: 3px 10px;
}

.header-title a:hover {
    background: #fa4569;
    color: #ffffff;
    transition: 0.5s;
    border-radius: 20px;
    margin-right: 20px;
}

nav h1:hover {
    background: #fa4569;
    color: #ffffff;
    transition: 0.5s;
    border-radius: 20px;
}


.item:nth-child(1) {
    background: black;
}

.item {
    background: #0a53be;
}

.item {
    background: #0c4128;
}

.item {
    background: #5c636a;
}

.item {
    background: #31d2f2;
}

.navbar-toggler {
    border: none;
    width: auto;
    height: auto;
    margin-right: 0;
    margin-left: auto;
}

.navbar-toggler:focus {
    box-shadow: unset;
    outline: unset;
}

.navbar-toggler:focus {
    background: transparent;
}


.rotate-animation {
    animation: rotate 2s linear infinite alternate;
}

.icon {
    border: 1px solid white;
    width: 40px;
    height: 40px;
    color: white;
    cursor: pointer;
    transition: 1s linear all;
    margin-right: 8px;
}

.icon:hover {
    border-color: red;
    color: white;
    background: red;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
        opacity: 0;
    }
    to {
        transform: rotate(360deg);
        opacity: 1;
    }
}


@media (max-width: 400px) {


}*/
