* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0c192c;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #000;
}

.bubbles {
    width: 100%;
    height: 30px;
    position: relative;
    display: flex;
    color: black;
    z-index: 1;

}

.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background: black;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
    z-index: 0;
}

.bubbles span:nth-child(even) {
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}

.navigation {
    width: 100%;
    height: 70px;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    z-index: 1;
}

.navigation ul {
    display: flex;
    width: 350px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    line-height: 75px;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: black;
}

.navigation ul li.active a .icon {
    transform: translateY(-32px);
}

.navigation ul li a .text {
    text-transform: uppercase;
    position: absolute;
    color: black;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px)
}

.indicator {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: #29fd53;
    border-radius: 50%;
    border: 6px solid #000000;
    transition: 0.5s;

}

.indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: #ffff;
    border-top-right-radius: 20px;
    box-shadow: 0 -10px 0 0 black;
}

.indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: #ffff;
    border-top-left-radius: 20px;
    box-shadow: 0 -10px 0 0 black;
}

.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px * 4));
}


.navigation .ikonka {
    margin-right: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navigation .ikonka input {
    width: 300px;
    height: 25px;
    color: black;

    border: 1px solid black;
    border-radius: 12px;
    margin-right: 4px;
}

.navigation .ikonka button {
    border: none;
    cursor: pointer;
}

.navigation .telegram {
    font-size: 30px;
    margin-right: 25px;
    font-weight: bold;
    background: none;

}

.navigation .telegram i {
    margin-right: 12px;

}



.navigation .telegram i:nth-child(3) {
    border-radius: 50%;
    border: 1px solid red;
    background: #000

}

.navigation .telegram i:hover {
    cursor: pointer;
}


@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }

    100% {
        transform: translateY(-10vh) scale(1);
    }
}