* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

:root {
    --red: #ef5050;
    --light-black: #1d1d1d;
    --gray: #373737;
    --liht-grey: #f9f9f9;
}

.root-red {
    color: var(--red);
}

.header {
    background: var(--light-black);
    padding: 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-title {
    text-transform: uppercase;
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    color: #ffff;
}

.logo-text {
    text-transform: lowercase;
    color: #ffff;
}

.logo img {
    animation: rotate_360 2s linear infinite;
}

.mahmud {
    display: flex;
    margin-left: 30px;
    padding: 30px;
    height: 20px;
    align-items: center;
    border-bottom:none;
    border: black;
    color: #ffff;
}
.mahmud ul li a{
    color: #ffff;
    border: none;
    border-bottom: black;
}
.justify-content-end i{
    margin-left: 30px;
}
.justify-content-end a{
    margin: 100px;
    justify-content: right;
}
.img a img .carousel-item{
    width: 1500px;
    height: 500px;
}
@keyframes rotate_360 {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    position: relative;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 68px;
    background: #11101d;
    padding: 3px 14px 1px 1px;
    transition: 2s;
}

.sidebar:hover {
    width: 240px;
    transition: 2s;
}

.sidebar .logo_content .logo {
    color: #ffff;
    display: flex;
    height: 50px;
    width: 100%;
}

.logo_content .logo i {
    padding: 0;
    font-size: 20px;
    font-weight: 400;
}

.logo_content .logo .logo_name {
    font-size: 20px;
    font-weight: 400;
}

.sidebar #mahmud {
    position: absolute;
    color: #ffff;
    left: 60%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;

    line-height: 3px;
    transform: translateX(-50%);
}

.sidebar ul {
    margin-top: 20px;
}

ul.nav_list {
    padding-left: 0;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px 0 0px;
    list-style: none;
    line-height: 5px;
}

.sidebar ul li .tooltip {
    padding-left: 0;
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    height: 30px;
    width: 122px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
}

.sidebar ul li:hover .tooltip {
    padding-left: 0;
    transition: all 0.4s ease;
    opacity: 1;
    top: 50%;
    width: 100px;
    left: 68px;
    border-radius: 20px;
    color: #F1F6FB;
    background: black;
}

.sidebar ul li input {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 15px;
    outline: none;
    border: none;
    background: #1d1b31;
    padding-left: 35px;
    font-size: 18px;
    color: #ffff;
}

.sidebar ul li a {
    color: #ffff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 15px;
}

.sidebar ul li a:hover {
    color: #11101d;
    background: #fff;

}

.sidebar ul li .bx-search {
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 22px;
}

.sidebar ul li i {
    height: 50px;
    min-width: 50px;
    border-radius: 20px;
    line-height: 50px;
    text-align: center;
}

.sidebar .profile_content {
    position: absolute;
    color: #ffff;
    bottom: 0;
    left: 0;
    width: 100%;

}

.sidebar .profile_content .profile {
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: #1d1b31;
}

.profile_content .profile .profile_details {
    display: flex;
    align-items: center;
}

.profile .profile_details img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 15px;
}

.profile .profile_details .name_jop {
    margin-left: 10px;
}

.profile .profile_details .name {
    font-size: 15px;
    font-weight: 400;
}

.profile .profile_details .jop {
    font-size: 12px;
}

.profile #log_out {
    position: absolute;
    left: 88%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 30px;
    border-radius: 15px;
}

.home_content {
    position: absolute;
    height: 100%;
    width: calc(100% - 240px);
    left: 240px;
    top: 30px;
}

.home_content .text {
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin: 1px;
}

.header {
    display: flex;
}

.row {
    display: flex;
}
.burhondn{
    width: 100%;
    height: 200px;background:black ;
}