/* Notebook device */

@media (max-width: 1200px) {
    .between .header-block {
        display: none;
    }

    .icon {
        margin-left: 0;
    }

    .between .header-block.active {
        display: flex;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(255, 255, 255, 0.97);
        z-index: 99999999;
        flex-direction: column-reverse;
        justify-content: flex-end;
        padding: 15px 20px;
    }

    .header-form {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin-right: auto;
    }


    .content {
        flex-wrap: wrap-reverse;
    }

    .between {
        width: auto;
    }

    .header ul {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        justify-items: flex-start;
        width: 100%;
        margin-top: 40px;
    }

    .between ul li {
        margin: 10px 0;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .main-body_ul {
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }

    #menu {
        display: block;
    }

    #close {
        position: absolute;
        right: 20px;
        top: 15px;
        background: #000;
        width: 25px;
        height: 25px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    .main-body_ul__item.active::before {
        border-width: 26px 0 26px 12px;
    }


    .main-body_ul__item:hover::before {
        border-width: 26px 0 26px 12px;
    }

    .news,
    .last {
        width: 100%;
        padding: 0;
    }

    .last_title {
        width: 100%;
    }

    .last_items {
        width: 31%;
        margin-right: 2%;
    }

    .last ul {
        display: flex;
        flex-wrap: wrap;
    }

    .main-cursor {
        margin-bottom: 30px;
    }
}
@media (max-width: 568px){
    .news_items__img img{
        height:100%;
    }
    .news_items__text{
        font-size: 10px;
        line-height: 14px;
    }
}



