* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}


:root {
    --red: #ef5050;
    --light-black: #1d1d1d;
    --grey: #373737;
    --light-grey: #f9f9f9;
}

.root-red {
    color: var(--red);
}

.header {
    background: var(--light-black);
}

.header-top {
    padding: 20px 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-title {
    text-transform: uppercase;
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    color: white;
}

.logo-text {
    color: #fff;
    margin-bottom: 0;
}

.work-title {
    font-size: 14px;
    color: white;
    margin-bottom: 0;
    text-transform: uppercase;
}

.work-text {
    font-size: 13px;
    color: #727272;
    margin-bottom: 0;
    text-decoration: none;
}

.phone {
    display: flex;
    align-items: center;
    color: white;
}

.phone-icon {
    font-size: 45px;
}

.phone-title {
    font-size: 14px;
    color: #616161;
    margin: 0;
}

.phone-text {
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ffff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon:hover {
    background: blue;
    border: 1px solid #0c63e4;
}

.work-text:hover {
    color: var(--red)
}

.work-title {
    font-size: 14px;
    color: white;
    margin-bottom: 0;
    text-transform: uppercase;
}

.work-text {
    font-size: 13px;
    color: #727272;
    margin-bottom: 0;
    text-decoration: none;
}

.work-text:hover {
    color: var(--red);
}

.logo-animation {
    animation: rotate_360 2s linear infinite;
}

.logo-smoke {
    transform: rotate(296deg);
    position: absolute;
    left: -63px;
    top: 3px;
}

.navbar-collapse {
    background-color: var(--red);
}

.nav-item:first-child {
    padding-left: 2rem !important;
}

.custom-menu .nav-item:first-child {
    padding: 0 !important;
}

.custom-menu .nav-link {
    padding: 0.5rem 1rem !important;
    background: transparent;
}

.nav-link {
    color: #fff !important;
    background-color: var(--red);
    text-transform: uppercase;
    padding: 1.5rem 1.2rem !important;
    font-weight: 600;
}

.nav-link.active {
    background-color: #f95b5b;
}

.custom-btn {
    background-color: #f95b5b;
    color: white;
    padding-right: 25px;
    padding-left: 25px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: unset;
}

.custom-btn:focus {
    outline: unset;
    box-shadow: unset;
}


.custom-dropdown, .nav-item {
    position: relative;
    z-index: 2;
}


.custom-menu {
    display: none;
    background-color: #f95b5b;
    position: absolute;
    top: 75px;
    left: 20%;
    z-index: -1;
}

.custom-menu ul {
    padding: 0.5rem 1rem;
}

.custom-dropdown:hover .custom-menu {
    display: block;
}

.carousel-title {
    color: white;
    text-transform: uppercase;
    font-size: 45px;
    position: relative;
    z-index: 2;
    padding: 5px 25px;

}

.carousel-title::before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--light-black);
    top: 0;
    left: 0;
    transform: skewX(-20deg);
    position: absolute;
    z-index: -1;

}

.carousel-title2 {
    color: black;
    text-transform: uppercase;
    font-size: 45px;
    position: relative;
    z-index: 2;
    padding: 5px 45px;
}

.carousel-title2::before {
    content: "";
    width: 100%;
    height: 100%;
    background: white;
    top: 0;
    left: 0;
    transform: skewX(-20deg);
    position: absolute;
    z-index: -1;

}

.carousel-text {
    text-transform: uppercase;
}

[aria-current=true].active {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    opacity: 1;
}

.carousel-indicators button {
    border: 3px solid #fff !important;
}

[aria-current=true].active::before {
    content: "";
    position: absolute;
    background: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.service {
    width: 100%;
    height: 350px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.service img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service-link {
    background: var(--light-black);
    position: absolute;
    width: 75%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 12px 0;
    color: #fff;
    z-index: 3;
}

.service::before {
    content: "";
    width: 0;
    height: 48px;
    border-top: 48px solid transparent;
    border-bottom: 48px solid transparent;
    border-right: 32px solid var(--light-black);
    position: absolute;
    left: 0;
    bottom: -48px;
    z-index: 3;
}

.service::after {
    content: "";
    width: 0;
    height: 48px;
    border-top: 48px solid transparent;
    border-bottom: 48px solid transparent;
    border-left: 32px solid var(--light-black);
    position: absolute;
    right: 1px;
    bottom: -48px;
    z-index: 3;
}

.service-item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
}

.service-item:hover {
    z-index: 4;

}

.service-item:hover .service-hover {
    z-index: 4;
    opacity: 1;
}

.service-hover {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.40);
    z-index: -1;
    opacity: 0;
    transition: all .1s ease-in-out;

}

.service-hover_bg {
    width: 100%;
    height: 100%;
    background: var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}


.clients {
    background: #f9f9f9;
    padding: 80px 0;
}

.border-red {
    border: 1px solid var(--red);
}

.btn-red {
    text-transform: uppercase;
    color: white;
    background: var(--red);
}

.gallery {
    background-image: url(
    "https://wallpaperaccess.com/full/2875617.jpg");
    padding: 90px 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}

.gallery-carousel {
    padding-top: 100px;
}


.gallery-prev, .gallery-next {
    left: unset;
    right: unset;
    bottom: unset;
    width: 30px;
    height: 30px;
    padding: 5px;
    border: 1px solid white;
    transition: all 1s ease-in-out;
}

.gallery-prev:hover,
.gallery-next:hover {
    background: var(--red);
    border-color: var(--red);
}

.gallery-prev {
    margin-right: 50px;
}

.gallery-next {
    margin-left: 50px;
}

.gallery-carousel .carousel-inner .carousel-item div {
    height: 350px;
    position: relative;
    z-index: 4;
    cursor: pointer;

}

.gallery-carousel .carousel-inner .carousel-item div img {
    width: 100%;
    height: 100%;
}

.gallery-carousel .carousel-inner .carousel-item div:hover::after {
    content: "+";
    color: white;
    font-size: 80px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: var(--red);
    top: 0;
    left: 0;

}

.expert {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.expert img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.expert:hover::after {
    content: "+";
    color: white;
    font-size: 80px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: var(--red);
    top: 0;
    left: 0;
    cursor: pointer;
}

.expert-content-text {
    font-weight: 500;
    position: relative;
    z-index: 1;
}

.expert-content-text::after {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    background: rgba(204, 204, 204, 0.55);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.expert-content-text::before {
    content: "";
    width: 0;
    height: 1px;
    display: block;
    background: var(--red);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    transition: all 0.5s ease-in-out;
}

.expert-content-text:hover::before {
    width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.comments {
    background: url("../images/comments.jpg") no-repeat center center;
    background-size: cover;
    padding: 50px 0;
}

.comments .carousel-indicators {
    position: unset;
    width: 100%;
    margin: 60px 0 0;
    align-items: center;
}

.comments .carousel-indicators button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    opacity: 1;
}

.comments .carousel-indicators button.active {
    border: 3px solid var(--red) !important;
}

.comments .carousel-indicators button {
    border: 0 solid !important;
}

.comments .carousel-indicators button::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
}

.comments .carousel-indicators [aria-current=true].active::before {
    content: "";
    position: absolute;
    background: var(--red);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}


@keyframes rotate_360 {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

